$font-family: "franklin-gothic-atf", sans-serif;
$primary-color: #202020;
$secondary-color: #7a7a7a;
$background-color: #fff;
$nav-background: #000;
$nav-color: #fff;
$link-color: #fff;
$footer-background: #000;
$footer-color: #fff;
$font-size-small: 12px;